<h1>ジャンル一覧</h1>
<div class="row">
  <div class="col-10 offset-1 col-sm-6 offset-sm-6 col-md-4 offset-md-8 page_top_menu">
    <li><%= link_to "ジャンル追加", new_genre_path %></li>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-6">
    <h2>支出</h2>
    <%= render "table", iae: false %>
  </div>

  <div class="col-12 col-sm-6">
    <h2>収入</h2>
    <%= render "table", iae: true %>
  </div>
</div>