<h1>振替履歴一覧</h1>

<div class="row">
  <div class="col-10 offset-1 col-sm-6 offset-sm-6 col-md-4 offset-md-8 page_top_menu">
    <li><%= link_to "新規振替", new_account_exchange_path %></li>
  </div>
</div>

<%= render "table" %>