<h1>ようこそ</h1>

<div class="account">
  <% unless current_user.accounts.exists? %>
  <p>まずはこちらからアカウント(銀行、現金、電子マネーなど)を追加しましょう。</p>
  <div class="new_account">
    <li><%= link_to "アカウント追加", new_user_account_path %></li>
  </div>
  <% end %>
  <% unless current_user.genres.exists? %>
  <p>こちらからジャンル(食費、給料など)を追加しましょう。</p>
  <div class="new_account">
    <li><%= link_to "ジャンル追加", new_user_genre_path %></li>
  </div>
  <% end %>
</div>