<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>今月の<%= @card.name %>でのお支払いの合計金額のご案内です。</h1>
  <p>
    今月は<%= @card.not_pay_value(@pay_date).to_s(:currency, locale: @card.account.currency) %>の利用がありました。
  </p>
  <p>
    <%= l @pay_date%>に引き落とされます。
  </p>
  <p>
    実際のカード会社の利用履歴と確認して、不正利用やMoneyBookへの記録漏れがないか確認してください。
  </p>
  <p>
    利用履歴の詳細を見るには
    <%= link_to "こちら", card_url(@user.id, @card.id) %>
    をクリックしてください。
  </p>
</body>

</html>