<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link sc_tab_link active" href="#tab_ex" data-toggle="tab" id="ex_tab_btn">支出</a>
  </li>
  <li class="nav-item">
    <a class="nav-link sc_tab_link" href="#tab_in" data-toggle="tab" id="in_tab_btn">収入</a>
  </li>
</ul>