<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#tab_ex" data-toggle="tab">支出</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#tab_in" data-toggle="tab">収入</a>
  </li>
</ul>