<h1>履歴</h1>

<div class="search-h">検索する</div>
<div class="search_wrapper" id="search_close">
  <%= render "search", {
    iae: "0",
    genre: "",
    account: "",
    card: "",
    money1: "",
    money2: "",
    date1: Date.today,
    date2: Date.today,
    memo: "",
    date_or_not: "0",
    money_or_not: "0",
    css_date: "none",
    css_money: "none"
  } %>
</div>


<%= render "event_table" %>