<h1>履歴</h1>

<h2>今月のデータ</h2>
<div class='row'>
  <div class='col-12 col-sm-6'>
    <%= pie_chart this_month_data_for_glaph[:ex_genres], {
      height: '400px',
      colors: [ 
        "#769fcd",
        "#b9d7ea",
        "#d6e6f2",
        "#f7fbfc",
      ],
      library: {title: {
      text: "支出" + "</br>" + current_user.income_expense_for_duration(today(current_user).all_month)[:ex].to_s(:currency, locale: current_user.currency.locale)
    }}
    } %>
  </div>
  <div class='col-12 col-sm-6'>
    <%= pie_chart this_month_data_for_glaph[:in_genres], {
      height: '400px',
      colors: [
        "#ff6928",
        "#ffc7af",
        "#ffcc33",
        "#ffffcc",
      ],
      library: {title: {
      text: "収入" + "</br>" + current_user.income_expense_for_duration(today(current_user).all_month)[:in].to_s(:currency, locale: current_user.currency.locale)
    }}
    } %>
  </div>
</div>

<div class="search-h">検索する</div>
<div class="search_wrapper" id="search_close">
  <%= render "search", {
    iae: "0",
    genre: "",
    account: "",
    card: "",
    money1: "",
    money2: "",
    date1: today(current_user),
    date2: today(current_user),
    memo: "",
    date_or_not: "0",
    money_or_not: "0",
    css_date: "none",
    css_money: "none"
  } %>
</div>


<%= render "table" %>