<h1>新規イベント作成</h1>

<%= render 'form_tab' %>

<div class="tab-content">
  <%= render 'form', {
    active: active_is_ex_or_in[:ex],
    tab_id: "tab_ex",
    backcolor: "",
    iae: false,
    edit: false,
  } %>

  <%= render 'form', {
    active: active_is_ex_or_in[:in],
    tab_id: "tab_in",
    backcolor: "income",
    iae: true,
    edit: false,
  } %>
</div>