<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link <%= active_is_buy_or_sell[:buy] %>" href="#tab_buy" data-toggle="tab">購入</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= active_is_buy_or_sell[:sell] %>" href="#tab_sell" data-toggle="tab">売却</a>
  </li>
</ul>