<h1><%= @fund_user.fund.name %>を購入</h1>

<%= render 'form_tab' %>

<div class="tab-content">
  <%= render 'form', {
    active: active_is_buy_or_sell[:buy],
    tab_id: "tab_buy",
    backcolor: "",
    buy_or_sell: true,
    edit: false,
  } %>

  <%= render 'form', {
    active: active_is_buy_or_sell[:sell],
    tab_id: "tab_sell",
    backcolor: "income",
    buy_or_sell: false,
    edit: false,
  } %>
</div>