<h1>新規クレジットカード作成</h1>

<%= render "form"  %>

<div class="ex_content col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
  <p class="ditail">
    連携アカウントとは：そのクレジットカードの利用分が引き落とされる口座のことです。</br>
    締め日とは：そのクレジットカードの一ヶ月の利用の最後の日付のことです。</br>
    引き落とし日とは：そのクレジットカードの一ヶ月の利用が引き落とされる日付のことです。</br>
    （例）締め日が10日引き落とし日が28日の場合</br>
    2021/2/11〜2021/3/10までの利用分が2021/3/28に引き落とされます。
  </p>
</div>