<p>こんにちは</p>

<p>パスワードを変更するには以下のリンクをクリックしてください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりのない方は無視してください。</p>
<p>上のリンクをクリックしてパスワードを新しくするまではパスワードは変更されません。</p>
<p>MoneyBook運営</p>
